body{
    background-image: url("../images/prism.png");
    color: white;
}
#dropdown{
    display: inline-block;
}
.btn-outline-primary{
    color:white;
    border-color: white;
}
#button-display{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: gray;
    padding-bottom: 5px;
}
.card{
    margin: 10px;
    color: black;
    display: inline-block;
}